<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Home - Dundas Health</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicons/favicon-16x16.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/218320a513.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body class="bg-dark d-flex flex-column min-vh-100">
<nav class="sidebar" id="sideNav">

    <!-- Display different menu depending on whether user is logged in or not-->
    <ul sec:authorize="!isAuthenticated()">
        <a href="#">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-house mx-2"
                                                                               style="font-size: 0.9rem"></i>Home
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="login">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i
                        class="fa-solid fa-arrow-right-to-bracket mx-2"
                        style="font-size: 0.9rem"></i>Log in
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="register">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-user-plus mx-2"
                                                                               style="font-size: 0.9rem"></i>Register
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="#">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-pencil mx-2"
                                                                               style="font-size: 0.9rem"></i>Contact
                </div>
            </li>
        </a>
        <hr class="solid">
    </ul>
    <ul sec:authorize="isAuthenticated()">
        <a href="/customer/dashboard">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-house mx-2"
                                                                               style="font-size: 0.9rem"></i>Home
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="/customer/profile">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-user mx-2"
                                                                               style="font-size: 0.9rem"></i>My Profile
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="/customer/settings">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-user-gear mx-2"
                                                                               style="font-size: 0.9rem"></i>Account
                    Settings
                </div>
            </li>
        </a>
        <hr class="solid">
        <a href="#" onclick="logOut()">
            <li>
                <div class="d-flex justify-content-left align-items-center"><i class="fa-solid fa-door-open mx-2"
                                                                               style="font-size: 0.9rem"></i>Log Out
                </div>
            </li>
        </a>
        <hr class="solid">
    </ul>
</nav>
<nav class="navbar fixed-top navbar-expand-md  bg-primary">
    <button id="burger" class="text-dark navbar-brand bg-primary" onclick="openSideNav()">☰</button>
    <a class="navbar-brand text-dark" id="title"></i>Dundas Health</a>
</nav>
<div id="imgHeader">
    <section id="welcome" class="rounded">
        <h1 class="text-light">Welcome to Dundas Health<br>Online Fitness Portal</h1>
        <div sec:authorize="!isAuthenticated()" class="d-flex flex-row justify-content-center">
            <a class="btn btn-primary text-light btn-md m-1" href="login" role="button">Log in</a>
            <a class="btn btn-primary text-light btn-md m-1" href="register" role="button">Register</a>
            <a class="btn btn-primary text-light btn-md m-1" href="#" role="button">Find out More</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="d-flex flex-row justify-content-center">
            <a class="btn btn-primary text-light btn-md m-1" href="user/dashboard" role="button">Go to Dashboard</a>
        </div>
    </section>
</div>
<main class="container-fluid mx-auto text-center bg-dark" id="mainContainer">
    <div class="d-flex flex-row flex-wrap justify-content-center p-1">
        <div class="card bg-secondary p-1 m-1" style="width: 20rem;">
            <h5>Latest News</h5>
            <p>All the latest news about the gym. All the stuff that's been happening, events etc.
            </p>
            <p><b>Some other interesting stuff and maybe a picture or something</b></p>
        </div>
        <div class="card bg-secondary p-1 m-1" style="width: 20rem;">
            <h5>Latest News</h5>
            <p>All the latest news about the gym. All the stuff that's been happening, events etc.
            </p>
            <p><b>Some other interesting stuff and maybe a picture or something</b></p>
        </div>
    </div>
</main>
<footer class="text-center text-white mt-auto" style="background-color: #3B3B3B;">
    <div class="text-center text-white p-4">
        © 2022 Copyright:
        <a class="text-primary" href="https://dundashealth.co.uk">https://dundashealth.co.uk</a>
    </div>
</footer>
<script th:src="@{/js/logout.js}"></script>
<script th:src="@{/js/sidenav.js}"></script>
</body>

</html>